.login-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .btn-primary {
    width: 100%;
  }
  .login-screen{
    background-image: url('../../assets/twitter-banner.jpg');
    background-size: cover;

  }